{% extends 'GizmoCapoBundle::base.html.twig' %}

{% block subtitle %} - graphs{% endblock %}

{% block extrabuttons %}
    <form class="navbar-form navbar-right">
        <button type="button" class="btn btn-warning" id="btn-toggle-search">hide search box</button>
    </form>
{% endblock %}

{% block contents %}
<div class="row-fluid">
    <div id="error_container"></div>
    <div class="well well-large" id="search_box">
        {% if privileges.user_has_access %}
        <h3>Search <small id="search_is_loading" style="display:none;">(loading ...)</small></h3>
            <div id="search-container">
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <form role="form" class="form-horizontal" id="search-form">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="search-icon">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </span>
                                        <input id="filter_1" type="text" placeholder="Search" value="{{ data.q }}" class="form-control">
                                    </div>
                                </div>
                            </form>
                        </div><!-- /.input-prepend -->
                        <div style="margin-top: 15px;margin-bottom:15px;" class="col-sm-12">
                            <form role="form" class="form-inline" id="form-capo-selectors">
                                <div class="form-group">
                                    <input type="hidden" class="bigdrop cacti_instance_select" id="cacti_instance_select_1"/>
                                    <input type="hidden" class="bigdrop graph_template_select" id="template_select_1"/>
                                    <input type="hidden" class="bigdrop host_select" id="host_select_1"/>
                                </div>
                            </form>
                        </div>
                    </div><!-- /.controls -->
                </div><!-- /.control-group -->

            </div><!-- /.container -->
            <div id="results">
                <table class="table table-hover">
                    <thead>
                        <tr><th class="cacti-instance">Cacti Instance</th><th class="graph-title">Graph</th><th class="actions">Actions</th></tr>
                    </thead>
                    <tbody id="results-list">
                        <tr><td class="cacti-instance"></td><td></td><td class="actions"></td></tr>
                    </tbody>
                </table>
            </div>
            <p class="text-muted" id="result-count"></p>
        {% else %}
            <div style="text-align: center;">
            <h4 class="error">Successfully logged in, but your group does not have access to any Cacti instances yet.</h4>
            </div>
        {% endif %}
    </div><!-- /.well -->
</div><!-- /.row-fluid -->

{% if privileges.user_has_access %}
<div class="row-fluid">
    <h3>Selection</h3>
    <nav class="navbar navbar-default">
        <div class="navbar-inner">
            <div class="col-md-6">
                <p class="navbar-text" id="selection-loading" href="#"></p>
                <ul class="nav navbar-nav">
                    <li><a href="#" id="btn-refresh-graphs" title="Refresh graphs"><span class="glyphicon glyphicon-refresh"></span> Refresh</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#" id="export-selected-pdf" title="Export to PDF"><span class="glyphicon glyphicon-print"></span> PDF</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#" id="deselect-all-graphs" title="Clear selection"><span class="glyphicon glyphicon-trash"></span> Clear</a></li>
                    <li class="divider-vertical"></li>
                    <li>
                        <form role="form" class="navbar-form form-horizontal pull-left">
                            <select class="form-control" name="rra-selector" id="rra-selector">
                                <!-- option value="5">Hourly (1 Minute Average)</option -->
                                <option selected="selected" value="1">Daily (5 minute average)</option>
                                <option value="2">Weekly (30 Minute Average)</option>
                                <option value="3">Monthly (2 Hour Average)</option>
                                <option value="4">Yearly (1 Day Average)</option>
                            </select>
                        </form>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
            <form role="form" class="navbar-form form-horizontal pull-right">
                <input class="form-control" type="text" name="graph_selection_name" id="graph_selection_name" placeholder="Name" />
                <a class="btn btn-default" id="btn_save_graph_selection"><span class="glyphicon glyphicon-star"></span> Save</a>
                <input type="hidden" class="bigdrop graph_selections_select" id="graph-selections-select-1"/>
            </form>
            </div>
        </div>
    </nav>
</div>

<div id="graph-selection-container" class="row-fluid">
    <div id="selected-graphs-list">
        <span class="col-sm-span12" id="selected-graphs-placeholder">
            <div class="thumbnail">
                <h3>no graphs selected yet</h3>
            </div>
        </span>
    </div>
</div><!-- /.row -->

{% endif %}
{% endblock %}

{% block bottom %}
{% if privileges.user_has_access %}
{% javascripts filter=''
'bundles/gizmocapo/js/capo.graphs.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
    $(document).ready(function() {
        var cfg = {
            'base_url': '{{ app.request.baseUrl }}/',
            'modules': [ 'graphs' ]
        };

        CAPO.init(cfg);
        CAPO.graphs.init();
    });
</script>
{% endif %}
{% endblock %}
