{% extends 'GizmoCapoBundle::base.html.twig' %}

{% block subtitle %} - weathermaps{% endblock %}

{% block extrabuttons %}
    <form class="navbar-form">
        <button type="button" class="btn btn-warning" id="btn-toggle-search">hide search box</button>
    </form>
{% endblock %}

{% block contents %}
<div class="row-fluid">
    <div id="error-container"></div>
    <div class="well well-large" id="search-box">
        {% if privileges.user_has_access %}
        <h3>Search <small id="search-is-loading" style="display:none;">(loading ...)</small></h3>
        <div id="search-container">
            <div class="control-group">
                <div class="controls">
                    <form role="form" class="form-horizontal" id="search-form">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon" id="search-icon">
                                    <span class="glyphicon glyphicon-search"></span>
                                </span>
                                <input id="filter" type="text" placeholder="Search" value="{{ data.q }}" class="form-control">
                            </div>
                        </div>
                    </form>
                    <div style="margin-top: 15px;margin-bottom:15px;" class="col-sm-12">
                        <form role="form" class="form-inline" id="form-capo-selectors">
                            <div class="form-group">
                                <input type="hidden" class="bigdrop cacti-instance-select" id="cacti-instance-select">
                            </div>
                        </form>
                    </div>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

        </div><!-- /.container -->
        <div id="results">
            <table class="table table-hover">
                <thead>
                    <tr><th class="cacti-instance">Cacti Instance</th><th class="wmap">Weathermap</th></tr>
                </thead>
                <tbody id="results-list">
                    <tr><td class="cacti-instance"></td><td class="wmap"></td></tr>
                    </tbody>
            </table>
        </div>
        <p class="text-muted" id="result-count"></p>

        {% else %}
            <div style="text-align: center;">
            <h4 class="error">Successfully logged in, but your group does not have access to any Cacti instances yet.</h4>
            </div>
        {% endif %}
    </div><!-- /.well -->
</div><!-- /.row-fluid -->

{% if privileges.user_has_access %}
<div class="row-fluid">
    <h3>Selection</h3>
    <nav class="navbar navbar-default">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#selectedbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="navbar-inner collapse navbar-collapse" id="selectedbar-collapse">
            <form class="navbar-form" role="form">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="activate_slideshow" id="slideshow-activator"> slideshow
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="activate_autorefresh" id="autorefresh-activator"> autorefresh
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </nav>
</div>

<div id="wmap-selection-container" class="row-fluid">
    <ul class="wmaps" id="selected-wmaps-list">
        <li class="span12" id="selected-wmaps-placeholder">
        <div class="thumbnail">
            <h3>no weathermaps selected yet</h3>
        </div>
        </li>
    </ul>
</div><!-- /.row-fluid -->
{% endif %}
{% endblock %}

{% block bottom %}
{% if privileges.user_has_access %}
{% javascripts filter=''
'bundles/gizmocapo/js/capo.weathermaps.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
    $(document).ready(function() {
        var cfg = {
            'base_url': '{{ app.request.baseUrl }}/',
            'modules': [ 'weathermaps' ]
        };

        CAPO.init(cfg);
        CAPO.weathermaps.init();
    });
</script>
{% endif %}
{% endblock %}
